/* css styles */
/* Este é o seu arquivo de estilos personalizados */

body {
  background-color: #2E2E2E; /* Um cinza bem escuro */
  color: white;             /* Cor do texto principal */
}

/* Opcional: Mudar a cor dos links para ficarem mais visíveis */
a {
  color: #00bfff; /* Um azul claro (DeepSkyBlue) */
}